.special-edit-modal{
    width: 400px;
    height: 333px;
    .edit-title{
        font-family: PingFang SC, PingFang SC;
        font-weight: 400;
        font-size: 12px;
        color: #8F959E;
        margin-bottom: 16px;
        margin-top: 0px;
    }
    .ant-modal-body{
        padding: 0px 24px 0 24px !important;
    }
    .ant-modal-content{
        // padding: 0 0 24px 0;
    }
    .edit-modal-item{
        
        font-family: PingFangSC, PingFang SC;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
        margin-bottom: 20px;
        .radio-item{
            span{
                margin-right: 5px;
            }
            .ant-radio-inner{
                margin-right: 0;
            }
        }
    }
    .cancel-btn{
        width: 65px;
        height: 32px;
        border-radius: 3px;
        background: transparent;
        border: 1px solid #AEAEAE;
        font-family: PingFangSC, PingFang SC;
        font-weight: 400;
        font-size: 14px;
        color: #AEAEAE;
    }
    .ant-input:hover{
        border-color: #0092FF;
    }
    .cancel-btn:hover{
        border-radius: 3px 3px 3px 3px;
        border: 1px solid #FFFFFF;
        color: #FFF;
    }
    .ant-modal-footer{
        display: flex;
        justify-content: flex-end;
        margin-top: 0;
    }
    .ai-tips{
        position: absolute;
        bottom: 30px;
        left: 24px;
        width: 75px;
        height: 22px;
        border-radius: 2px 2px 2px 2px;
        font-family: PingFang SC, PingFang SC;
        font-weight: 400;
        font-size: 14px;
        color: #0092FF;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ai-tips:hover{
        background: rgba(0, 146, 255, .1);
        cursor: pointer;
    }
    .confirm-btn{
        background: #0092FF !important;
        font-family: PingFang SC, PingFang SC;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF !important;
        width: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 !important;
    }

    .confirm-btn:hover{
        background: #0092FF !important;
        font-family: PingFang SC, PingFang SC;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF !important;
        width: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 !important;
    }
    .disabled-btn{
        pointer-events: none;
        opacity: 0.5;
    }
}