.systemstem{
	padding: 0px 0px 16px 0px;
	/* background: #FFFFFF; */
	/* min-width: 1200px; */
}
.ant-table-row-expand-icon{
	background: none;
}
.systemshe{
	margin-left: 74px;
	/* min-width: 1200px; */
}
.newzf .ant-modal-content{
	padding-bottom: 24px;
}
.systematics{
	background: #212029;
	padding: 16px 16px;
	border-radius: 10px;
}