.allcontents{
	padding: 16px 26px;
}
.serve{
	/* height: 70px; */
	background: none;
	border-radius: 2px;
	/* border: 1px solid #0092FF; */
	padding: 0px 20px;
	padding-bottom: 20px;
}
#basics1 .ant-form-item{
	float: left;
	width: 30%;
	margin-top: 20px;
}
#basics1 .ant-form-item>button{
	margin-right: 10px;
}
.axxset{
	width: 40%;
	float: left;
	/* padding-top: 20px; */
}
.hybridpoint{
	overflow: hidden;
}
.serverst{
	padding-top: 20px;
}
.serve p{
	color: #FFFFFF;
	padding-top: 10px;
}
.serve .ant-form{
	overflow: hidden;
	
}
.serve .titles{
	font-size: 16px;
	font-family: PingFangSC-Medium, PingFang SC;
	font-weight: 500;
	color: #FFFFFF;
	margin-right: 20px;
}
.serve .formitem{
	float: left;
	width: 30%;
	padding-bottom: 20px;
}

.ant-input-number-input{
	color: #FFFFFF;
}
.ant-tabs-tabpane{
	/* background: #212029; */
}
/* .ant-tabs-nav{
	margin-bottom: 0px;
} */
















