.respondheader{
	
}
.respondheader{
	/* width: 100%; */
	height: auto;
	/* margin-top: 20px; */
	background: #212029;
	padding: 15px 28px;
	border-radius: 10px;
}
.respondheader:first-child{
	margin-bottom: 16px;
}
.respondheader h4{
	/* width: 100%; */
	font-size: 18px;
	font-family: PingFangSC-Medium, PingFang SC;
	font-weight: 500;
	color: #FFF;
	padding-left: ;
	margin-bottom: 24px;
}
.respondheader h4:before{
	content: '';
	display: inline-block;
	width: 4px;
	height: 24px;
	background: #0092FF;
	border-radius: 5px;
	/* float: left; */
	margin-right: 16px;
	vertical-align: middle;
}
.respondheader h4>span{
	font-size: 12px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #FFF;
	line-height: 24px;
	padding-left: 20px;
}
.respond{
	width: 100%;
	height: auto;
	display: flex;
}
.respond .respondleft{
	flex: 1;
	background: #212029;
	border-radius: 3px;
	padding: 0px 50px;
	height: 220px;
	display: flex;
}
.respondleft .subscriber{
	display: inline-block;
	flex: 1;
	/* float: left; */
}
.respondleft .subscribera{
	margin-top: 80px;
}
.respondright{
	background: #212029;
	border-radius: 3px;
	padding: 0px 50px;
	height: 220px;
	flex: 1;
	padding-top: 30px;
}
.respondright .subscriber{
	width: 50%;
	float: left;
	padding-top: 0px !important;
	margin-top: 0px;
	/* padding-top: 30px; */
}
.respond .subscriber{
	/* flex: 1; */
	/* height: 100px;
	margin-top: 40px;
	padding-bottom: 30px; */
}
.subscriber img{
	width: 60px;
	float: left;
}
.subscriber div{
	display: inline-block;
	margin-left: 20px;
	
}
.subscriber div>span{
	font-size: 28px;
	/* font-family: SourceHanSansCN-Heavy, SourceHanSansCN;
	font-weight: 800; */
	font-family: DIN-Bold, DIN;
	font-weight: bold;
	color: #FFF;
	line-height: 24px;
}
.subscriber div>p{
	font-size: 16px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #FFF;
	line-height: 24px;
	margin: 0px;
	padding: 0px;
	padding-top: 12px;
}
.subscriber:nth-child(2)>span{
	color: #FFF;
}
.subscriber:nth-child(5) div>span{
	color: #FFF;
}
#participation{
	width: 110px;
	height: 110px;
}
.subscriber:last-child div>span{
	color: #FFF;
}
.respondheader .ant-picker{
	/* float: right; */
}
.numerical{
	width: 100%;
	overflow: hidden;
	padding-bottom: 10px;
	border-bottom: none !important;
	/* border-bottom: 1px dashed rgba(255, 255, 255, 0.2);; */
	/* display: flex; */
}
.numericaltop{
	width: 100%;
	/* height: 220px; */
	background: rgba(255,255,255,0.05);
	border-radius: 6px;
	padding: 24px 50px;
}
.statement div{
	/* width: 100%; */
	height: 92px;
	background: rgba(24, 144, 255, 0.1);
	border-radius: 6px;
	margin-bottom: 16px;
	overflow: hidden;
	padding: 0px 24px;
}
.statement div>h4{
	font-size: 16px;
	font-family: PingFangSC-Light, PingFang SC;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.7);
	line-height: 24px;
	margin: 15px 0px;
}
.statement div>h4:after{
	content: '';
	display: inline-block;
	width: 4px;
	height: 20px;
	background: #0091FF;
	border-radius: 5px;
	float: left;
	margin-right: 20px;
}
.statement div>b{
	font-size: 20px;
	font-family: SourceHanSansCN-Heavy, SourceHanSansCN;
	font-weight: 800;
	color: #2A2B40;
	line-height: 28px;
	margin-left: 20px;
}
.burden{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.burden li{
	float: left;
	list-style: none;
	width: 50%;
	height: 92px;
}
.burden li>h4{
	font-size: 16px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.5);
	line-height: 22px;
}
.burden li>b{
	font-size: 20px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #2A2B40;
	line-height: 28px;
	margin-left: 20px;
}
.burden li>h4:after{
	content: '';
	display: inline-block;
	width: 4px;
	height: 20px;
	background: #0091FF;
	border-radius: 5px;
	float: left;
	margin-right: 20px;
}
.statement:last-child ul>li{
	width: 100%;
}
.datums{
	width: 100%;
	/* height: 400px; */
	padding-top: 40px;
	background: #09183F;
}
.information{
	float: right;
	width: 312px;
	height: 367px;
	background: rgba(24, 144, 255, 0.1);
	border-radius: 6px;
	backdrop-filter: blur(10px);
}
#line{
	width: 100%;
	height: 400px;
	/* margin-right: 366px; */
	/* height: 100%; */
	/* background: #00BF8F; */
}
.information{
	padding: 0px 22px;
}
.information h4{
	font-size: 16px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #2A2B40;
	line-height: 22px;
	margin-top: 20px;
}
.information h4:after{
	content: '';
	display: inline-block;
	width: 4px;
	height: 20px;
	background: #0091FF;
	border-radius: 5px;
	float: left;
	margin-right: 20px;
	
}
.chosedate{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	margin-top: 20px;
}
.chosedate li{
	float: left;
	list-style: none;
	width: 50%;
}
.chosedate li>p{
	font-size: 14px;
	font-family: PingFangSC-Light, PingFang SC;
	font-weight: 300;
	color: #2A2B40;
	line-height: 24px;
	margin: 0px;
	padding: 0px;
}
.chosedate li>span{
	font-size: 20px;
	font-family: PingFangSC-Semibold, PingFang SC;
	font-weight: 600;
	color: #2A2B40;
	line-height: 28px;
}
.seaarchBtn{
	/* padding: 15px 30px; */
	float: right;
}
.seaarchBtn b{
	font-size: 14px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #2A2B40;
}
.numericalleft{
	width: 334px;
	height: 100%;
	float: left;
	line-height: 168px;
}
.numericalleft img{
	width: 60px;
	height: 60px;
	vertical-align: middle;
}
.numericalleft div{
	display: inline-block;
	line-height: 46px;
	vertical-align: middle;
	padding-left: 20px;
	margin-top: 16px;
}
.numericalleft div>span{
	font-size: 16px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #FFF;
}
.numericalleft div>p{
	font-size: 28px;
	font-family: SourceHanSansCN-Heavy, SourceHanSansCN;
	font-weight: 800;
	color: #FFF;
	line-height: 30px;
}
.numericalright{
	margin-left: 344px;
	/* background: #1890FF; */
	height: 100%;
}
.numelectricity{
	width: ;
	/* height: 82px; */
	border-bottom: 1px dashed #DFE1E5;
	/* padding-bottom: 24px; */
}
.numelectricity ul{
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}
.numelectricity ul>li{
	list-style: none;
	width: 33.33%;
	height: 57px;
	border-left: 1px solid #0092FF;
	padding: 0px 20px;
	float: left;
}
.numelectricity ul>li p{
	font-size: 14px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color:#FFF;
	line-height: 24px;
}
.numelectricity ul>li span{
	/* font-family: PingFangSC-Semibold, PingFang SC;
	font-weight: 600; */
	font-family: DIN-Bold, DIN;
	font-weight: bold;
	color: #FFF;
	line-height: 22px;
	font-size: 20px;
	
}
.numelectricity:after{
	/* display: inline-block; */
	/* content: ''; */
	/* width: 100%; */
	/* height: 1px; */
	/* border-bottom: 1px dashed #DFE1E5; */
	/* background: #fff; */
}
.numericalleft b{
	font-size: 11px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #FFF;
	line-height: 22px;
	display: block;
	margin-top: -20px;
}
.datumtitle{
	padding-bottom: 40px;
	color: #FFF;
}
.datumtitle b{
	margin-left: 16px;
	font-weight: normal;
}
.numericaltops{
	height: auto;
}
.numericaltops .numelectricity{
	/* margin-bottom: 25px; */
}
.Rspondboardbtn{
	text-align: center;
	margin-top: 15px;
}
.Rspondboardbtn button:first-child{
	margin-right: 15px;
}
.ant-picker-clear{
	background: #212029;
	color: #fff;
}
.datumtitle .ant-select{
	margin-left: 0px;
}















