.tacticswe{
	width: 100%;
	display: flex;
	
}
.Responsetask{
	background: #212029;
	border-radius: 10px;
	padding: 16px 15px;
	padding-bottom: 40px;
	min-width: 1200px;
}
.newbutton{
	color: #FFFFFF;
}
.newbutton:hover{
	border-color: #0092FF;
	color: #0092FF;
}
.tacticswe div{
	flex: 1;
	height: 70px;
	background: #0D1E4A;
	border-radius: 2px;
	border: 1px solid #203875;
	color: #FFFFFF;
	padding: 10px 15px;
}
.tacticswe div:first-child+div{
	margin: 0px 30px;
}
.tacticswe div>p{
	margin-bottom: 10px;
}
.fotdate {
	margin-left: 0px !important;
}
.ant-table-cell-row-hover a[disabled]{
	/* color: #073b36 !important; */
}
a[disabled]{
	color: #073b36;
}
/* a[disabled]:hover{
	color: #073b36 !important;
} */
.taskname{
	font-size: 14px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #FFFFFF;
}
.ant-radio-inner{
	/* border-radius: 2px; */
}
.ant-form-text{
	border: 1px solid #D1D2D6;
	height: 32px;
	line-height: 30px;
	vertical-align: top;
	text-align: center;
	padding: 0px 10px;
	margin-left: -1px;
	font-size: 12px;
	border-left: none;
	    /* margin-top: -4px; */
}
.ant-checkbox-inner{
	background: none;
}
.comments{
	color: #fff;
	width: 50%;
}
.dropdownMenu-scroll .ant-checkbox-wrapper{
	width: 100%;
	padding: 0px 10px;
}
.dropdownMenu-scroll .ant-checkbox-wrapper:hover{
	background: rgba(255, 255, 255, 0.05);
}
.dropdownMenu-scroll .ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner{
	border-color: #FFF;
}
/* .dropdownMenu-scroll .ant-checkbox-checked:hover .ant-checkbox-inner{
	border-color: #FFF;
} */
.dropdownMenu-scroll .ant-checkbox-wrapper span{
	color: #0092FF;
}
..dropdownMenu-scroll .ant-checkbox{
	/* float: left; */
	display: inline-block;
}
.dropdownMenu-scroll .ant-select-dropdown{
	background: #212029;
}
.dropdownMenu-scroll{
	
}
/*隐藏默认滚动条*/
.dropdownMenu-scroll {
  overflow: auto;
  max-height: 130px;
  /* background: ; */
  /* scrollbar-width: thin; */
  /* scrollbar-color: #888 #f1f1f1; */
}

/*自定义滚动条样式*/

.dropdownMenu-scroll::-webkit-scrollbar {
	width:3px;
}
.dropdownMenu-scroll::-webkit-scrollbar-track {
	background-color:#302F39;
}
.dropdownMenu-scroll::-webkit-scrollbar-thumb {
	background-color:rgba(0, 146, 255, .3);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.ant-checkbox-indeterminate .ant-checkbox-inner{
	background: none;
}
.ployspan span{
	margin-right: 10px;
	color: #0092FF;
	cursor: pointer;
}
.dropdownMenu-scroll .ant-checkbox + span{
	color: #fff;
}
.dropdownMenu-scroll .ant-checkbox{
	/* float: left; */
	display: inline-block;
	vertical-align: 0px;
}
.dropdownMenu-scroll .ant-checkbox-wrapper+.ant-checkbox-wrapper{
	margin-left: 0px;
}
.ant-form-item .ant-picker{
	
	margin-left: 0px;
}
.ant-table-tbody .ployspan span{
	margin-right: 10px;
	color: #0092FF;
	cursor: pointer;
}
.ployspan a{
	margin-right: 10px;
	color: #0092FF;
	cursor: pointer;
}
.ServiceTaskheader button{
	margin-bottom: 16px;
}


