.report-modal .ant-modal-header {
  padding: 24px;
  background: transparent;
  border-bottom: none;
}

.report-modal .ant-modal-title {
  font-family: PingFangSC, PingFang SC;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  background: transparent;
}

.report-modal .ant-modal-content {
  width: 600px;
  height: 195px;
  background: #212029;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

.report-modal .ant-modal-close-x svg {
  color: #FFFFFF;
}

.report-modal .tips-content {
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
}

.report-modal .btn-wrapper {
  margin-top: 28px;
  display: flex;
  justify-content: flex-end;
}

.report-modal .btn-wrapper .cancel-btn {
  width: 65px;
  height: 32px;
  border-radius: 3px;
  border: 1px solid #AEAEAE;
  background: transparent;
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 14px;
  color: #DFE1E5;
  margin-right: 16px;
}

.report-modal .btn-wrapper .ok-btn {
  width: 65px;
  height: 32px;
  background: #0092FF;
  border-radius: 3px;
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 14px;
  color: #DFE1E5;
  margin-right: 16px;
  border: none;
}
