.accheader{
	height: 70px;
	line-height: 70px;
	background: #212029;
	border-radius: 2px;
	padding: 0px 30px;
}
.panel{
	font-size: 14px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #FFF;
}
.panel:nth-child(2){
	padding-left: 20px;
}
.panels{
	padding-left: 20px;
}
.axxset{
	font-size: 14px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #2A2B40;
	padding-bottom: 32px;
}
.allcontentesae .ant-tabs-content{
	background: #FFF;
}
.hybridpoint{
	padding: 0px 30px;
}
.ant-tabs{
	height: calc(100% - 70px);
}