body::-webkit-scrollbar {
  display: none;
}

.all-node-page {
  background: #212029;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  height: calc(100% - 16px);
  padding: 70px 0 120px 0;
  position: relative;
}

.all-node-page .left-text-wrap {
  position: absolute;
  top: 90px;
  left: 66%;
}

.all-node-page .right-text-wrap {
  position: absolute;
  top: 275px;
  left: 60%;
  bottom: auto;
  width: 300px;
}

.all-node-page .arrow-bottom {
  background-image: none;
  height: 150px;
}

.all-node-page .dots-wrapper {
  width: 100%;
  padding: 0 25px;
  overflow: scroll;
  justify-content: center;
  margin: 80px auto 0;
}

.all-node-page .center-img-top {
  background: none;
}

.all-node-page .close-icon {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  background-image: url(../../assets/back-btn.png);
  cursor: pointer;
}
