.edit-modal {
  width: 400px;
}

.edit-modal .ant-modal-content {
  /* padding: 0 0 24px 0; */
}

.edit-modal .edit-modal-item {
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.edit-modal .edit-modal-item .radio-item span {
  margin-right: 5px;
}

.edit-modal .edit-modal-item .radio-item .ant-radio-inner {
  margin-right: 0;
}

.edit-modal .cancel-btn {
  width: 65px;
  height: 32px;
  border-radius: 3px;
  background: transparent;
  border: 1px solid #AEAEAE;
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 14px;
  color: #AEAEAE;
}

.edit-modal .disabled-btn {
  pointer-events: none;
  opacity: 0.5;
}
