.copy-modal {
  width: 400px;
}

.copy-modal .ant-modal-content {
  /* padding: 0 0 24px 0; */
}

.copy-modal .copy-modal-item {
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  margin-bottom: 22px;
}

.copy-modal .cancel-btn {
  width: 65px;
  height: 32px;
  border-radius: 3px;
  background: transparent;
  border: 1px solid #AEAEAE;
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 14px;
  color: #AEAEAE;
}

.copy-modal .disabled-btn {
  opacity: 0.5;
  pointer-events: none;
}
