.edit-project-content{
    padding: 30px 24px 15px 24px;
    .base-info{
        .base-info-title{
            height: 50px;
            background: #3C3E47;
            border-radius: 4px 4px 0 0;
            display: flex;
            align-items: center;
            padding: 0 16px;
            font-family: PingFang SC, PingFang SC;
            font-weight: 600;
            font-size: 14px;
            color: #FFFFFF;
            &::before{
                content: '';
                display: inline-block;
                width: 16px;
                height: 16px;
                background-image: url(../../assets/finish-icon.png);
                background-size: cover;
                margin-right: 8px;
                margin-top: 1px;
            }
        }
        .base-info-content{
            background-color: #33343D;
            padding-top: 18px;
            padding-right: 24px;
            padding-bottom: 20px;
            display: flex;
            flex-wrap: wrap;
            .base-info-content-item{
                width: 50%;
                margin-bottom: 18px;
                display: flex;
                align-items: center;
                .base-info-content-item-title{
                    font-family: PingFang SC, PingFang SC;
                    font-weight: 400;
                    font-size: 14px;
                    color: #C1C8D3;
                    margin-right: 24px;
                    margin-left: 16px;
                    white-space: nowrap;
                }
                .content{
                    display: inline-block;
                    height: 32px;
                    cursor: pointer;
                    border-radius: 3px 3px 3px 3px;
                    font-family: PingFang SC, PingFang SC;
                    font-weight: 400;
                    font-size: 14px;
                    color: #FFFFFF;
                    display: flex;
                    align-items: center;
                    padding: 0 8px;
                    flex: 1;
                    flex-shrink: 0;
                    padding-left: 13px;
                }
                .content:hover{
                    background: #48484F;

                }
            }
            .base-info-content-item:last-child{
                margin-bottom: 0;
                align-items: flex-start;
				width: 100%;
            }
        }
    }
    .senior-setting{
        margin-top: 24px;
        .senior-setting-title{
            font-family: PingFang SC, PingFang SC;
            font-weight: 600;
            font-size: 14px;
            color: #FFFFFF;
            line-height: 20px;
            text-align: left;
            font-style: normal;
            margin-bottom: 12px;
        }
        .design-param{
            .design-param-header{
                height: 50px;
                cursor: pointer;
                background: #3C3E47;
                border-radius: 4px 4px 0 0;
                display: flex;
                align-items: center;
                padding: 0 16px;
                font-family: PingFang SC, PingFang SC;
                font-weight: 600;
                font-size: 14px;
                color: #FFFFFF;
                &::before{
                    content: '';
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    background-image: url(../../assets/finish-icon.png);
                    background-size: cover;
                    margin-right: 8px;
                    margin-top: 1px;
                }
                .up-arrow{
                    display: inline-block;
                    content: '';
                    width: 16px;
                    height: 16px;
                    background-image: url(../../assets/up-arrow.png);
                    background-size: cover;
                    position: relative;
                    top: 0px;
                    margin-left: 20px;
                    cursor: pointer;
                }
                .down-arrow{
                    display: inline-block;
                    content: '';
                    width: 16px;
                    height: 16px;
                    background-image: url(../../assets/down-arrow.png);
                    background-size: cover;
                    position: relative;
                    top: 0px;
                    margin-left: 20px;
                    cursor: pointer;
                }
            }
            .design-param-content-1{
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                padding: 0 16px 0 16px;
                background-color: #303038;
                .design-param-item{
                    width: 50%;
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    height: 32px;
                    .design-param-item-left{
                        font-family: PingFang SC, PingFang SC;
                        font-weight: 400;
                        font-size: 14px;
                        color: #C1C8D3;
                        width: 30%;
                    }
                    .design-param-item-right{
                        font-family: PingFang SC, PingFang SC;
                        font-weight: 400;
                        font-size: 14px;
                        color: #FFFFFF;
                        width: 70%;
                        padding-left:11px;
                        cursor: pointer;
                        display: flex;
                        width: 250px;
                        height: 32px;
                        align-items: center;
                        border-radius: 3px 3px 3px 3px;
                    }
					.design-param-item-content-battery{
						
						.design-param-item-battery{
							display: flex;
							width: 100%;
							margin-bottom: 12px;
							div{
								display: flex;
								align-items: center;
								margin-right: 10px;
								span{
									// height: 32px;
									display: inline-block;
									height: 100%;
									border-radius: 0px 3px 3px 0px;
									border: 1px solid #0092FF;
									color: #FFFFFF;
									padding: 5px 11px;
									margin-left: -1px;
									font-size: 14px;
									// line-height: 32px;
								}
								.ant-input{
									border-color:#0092FF;
									width: 84px;
								}
								
							}
							.anticon svg{
								color: #FFFFFF;
							}
						}
					}
					
                    .design-param-item-right:hover{
                        background: #48484F;
                    }
                }
                .design-param-item-last{
					height: auto;
					// width: 60%;
					align-items:flex-start;
				}
				.design-param-item:nth-child(1){
                    margin-top: 10px;
                }
                .design-param-item:nth-child(2){
                    margin-top: 10px;
                }
            }
            .design-param-content{
                transition: height 1s; 
                overflow: hidden;
            }
            
            .design-param-content.collapsed {
                height: 0;
                overflow: hidden;
            }
            
            .design-param-content.no-collapsed{
                overflow: hidden;
                // height: 157px;  
				min-height: 217px;
            }
        }

        .economic-param{
            margin-top: 24px;
            cursor: pointer;
            .economic-param-header{
                height: 50px;
                background: #3C3E47;
                border-radius: 4px 4px 0 0;
                display: flex;
                align-items: center;
                padding: 0 16px;
                font-family: PingFang SC, PingFang SC;
                font-weight: 600;
                font-size: 14px;
                color: #FFFFFF;
                &::before{
                    content: '';
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    background-image: url(../../assets/finish-icon.png);
                    background-size: cover;
                    margin-right: 8px;
                    margin-top: 1px;
                }
                .up-arrow{
                    display: inline-block;
                    content: '';
                    width: 16px;
                    height: 16px;
                    background-image: url(../../assets/up-arrow.png);
                    background-size: cover;
                    position: relative;
                    top: 0px;
                    margin-left: 20px;
                    cursor: pointer;
                }
                .down-arrow{
                    display: inline-block;
                    content: '';
                    width: 16px;
                    height: 16px;
                    background-image: url(../../assets/down-arrow.png);
                    background-size: cover;
                    position: relative;
                    top: 0px;
                    margin-left: 20px;
                    cursor: pointer;
                }
            }
            .economic-param-content,.economic-financing-content,.economic-financing-Full-content{
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                padding: 0 16px 0 16px;
                background-color: #303038;
                .economic-param-item{
                    width: 50%;
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    height: 32px;
                    .economic-param-item-left{
                        font-family: PingFang SC, PingFang SC;
                        font-weight: 400;
                        font-size: 14px;
                        color: #C1C8D3;
                        width: 30%;
                    }
                    .economic-param-item-right{
                        font-family: PingFang SC, PingFang SC;
                        font-weight: 400;
                        font-size: 14px;
                        color: #FFFFFF;
                        width: 70%;
                        cursor: pointer;
                        display: flex;
                        width: 250px;
                        height: 32px;
                        align-items: center;
                        border-radius: 3px 3px 3px 3px;
                        padding-left: 11px;
                    }
                    .economic-param-item-right:hover{
                        background: #48484F;
                    }
					
                }
                .economic-param-item:nth-child(1){
                    margin-top: 10px;
                }
                .economic-param-item:nth-child(2){
                    margin-top: 10px;
                }
				.economic-param-item:last-child{
					
				}
            }
            .economic-param-content,.economic-financing-content,.economic-financing-Full-content{
                transition: height 1s; 
                overflow: hidden;
            }
            .economic-param-content.collapsed {
                height: 0;
                overflow: hidden;
            }
            
            .economic-param-content.no-collapsed{
                height: 289px;
                overflow: hidden;
            }
			.economic-financing-content.collapsed {
			    height: 0;
			    overflow: hidden;
			}
			.economic-financing-content.no-collapsed{
			    height: 169px;
			    overflow: hidden;
			}
			.economic-financing-Full-content.collapsed {
			    height: 0;
			    overflow: hidden;
			}
			.economic-financing-Full-content.no-collapsed{
			    height: 49px;
			    overflow: hidden;
			}
			
			
        }
    }
}
.customer-popover-item{
    .ant-popover-arrow{
        right: 200px;
        &::before{
            background: #2F4A4E;
        }
    }
    .ant-popover-inner{
        width: 280px;
        background: #2F4A4E;
        padding: 16px;
        font-family: PingFang SC, PingFang SC;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
        position: relative;
        height: 94px;
        box-sizing: border-box;
        position: relative;
        .popover-ok-btn{
            position: absolute;
            font-family: PingFang SC, PingFang SC;
            font-weight: 400;
            font-size: 14px;
            color: #0092FF;
            right: 17px;
            bottom: 10px;
            cursor: pointer;
        }
        
    }
}
.customer-open-popover{
    flex: 1;
    width: 100%;
    .content{
        flex: 1 !important;
    }
}
.customer-default-popover{
    flex:1;
}
.variant-input{
    font-family: PingFang SC, PingFang SC;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 3px 3px 3px 3px;
}
.variant-input:hover{
    background: #48484F;
    cursor: pointer;
}
.design-variant-input{
    font-family: PingFang SC, PingFang SC;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    width: 250px;
    height: 32px;
    cursor: pointer;
}
.design-variant-input:hover{
    background: #48484F;
}
.variant-input:hover{
    background: #48484F;
}
.base-info-input{ 
    box-shadow: none;
    .ant-input:focus{
        box-shadow: none;
    }
    .ant-input:hover{
        border: 1px solid #0092FF;
    }
    .ant-input:focus{
        background: #48484F;
    }
    .ant-input-group-addon{
        border-top: 1px solid #0092FF !important;
        border-right: 1px solid #0092FF !important;
        border-bottom: 1px solid #0092FF !important;
    }
}
.design-input{
    box-shadow: none;
    width: 250px;
    .ant-input:focus{
        box-shadow: none;
    }
    .ant-input:hover{
        border: 1px solid #0092FF;
        background: #48484F;
    }
    .ant-input-group-addon{
        border-top: 1px solid #0092FF !important;
        border-right: 1px solid #0092FF !important;
        border-bottom: 1px solid #0092FF !important;
    }
}
.design-input:hover{
    .ant-input-group-addon{
        background: #48484F;
    }
}