.assist-mode-main-page {
  height: calc(100vh - 64px);
  width: 100%;
  background: #292930;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.assist-mode-main-page .assist-mode-main-title {
  font-family: PingFang SC, PingFang SC;
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
  margin: 130px 0 120px 0;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.assist-mode-main-page .assist-mode-main-title::before {
  content: '';
  display: inline-block;
  width: 46px;
  height: 40px;
  background-image: url(../../assets/xiaoda_icon.png);
  background-size: cover;
  margin-right: 18px;
}

.assist-mode-main-page .assist-mode-main-content {
  width: 671px;
  height: 280px;
  padding: 40px;
  background: url(../../assets/card-bg.png);
  background-size: cover;
}

.assist-mode-main-page .assist-mode-main-content .assist-mode-main-content-title {
  font-family: PingFang SC, PingFang SC;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  margin: 0;
}

.assist-mode-main-page .assist-mode-main-content .assist-mode-main-content-center {
  display: flex;
  height: 56px;
  padding: 30px 0 50px 0;
}

.assist-mode-main-page .assist-mode-main-content .assist-mode-main-content-center .assist-mode-main-content-center-left {
  display: inline-block;
  width: 56px;
  height: 56px;
  background-image: url(../../assets/ai-icon.png);
  background-size: cover;
  margin-right: 30px;
}

.assist-mode-main-page .assist-mode-main-content .assist-mode-main-content-center .assist-mode-main-content-center-right .assist-mode-main-content-center-number {
  font-family: PingFang SC, PingFang SC;
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
  margin: 0;
  position: relative;
  bottom: 7px;
}

.assist-mode-main-page .assist-mode-main-content .assist-mode-main-content-center .assist-mode-main-content-center-right .assist-mode-main-content-center-status {
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 16px;
  color: #8F959E;
  margin: 0;
  position: relative;
  bottom: 4px;
}

.assist-mode-main-page .assist-mode-main-content .assist-mode-main-line {
  width: 613px;
  height: 0px;
  border: 1px solid #3D3E55;
  margin-top: 50px;
  position: relative;
  left: -10px;
}

.assist-mode-main-page .assist-mode-main-content-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.assist-mode-main-page .assist-mode-main-content-bottom .assist-mode-main-content-bottom-left {
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 12px;
  color: #8F959E;
}

.assist-mode-main-page .assist-mode-main-content-bottom .assist-mode-main-content-bottom-right {
  width: 26px;
  height: 27px;
  background: red;
}
