.select-wrap {
  display: flex;
  align-items: center;
  margin-top: 16px;
  .select-item {
    width: 88px;
    height: 32px;
    background: rgba(143, 149, 158, 0.1);
    font-family: PingFang SC, PingFang SC;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-right: 24px;
    border: 1px solid;
    cursor: pointer;
    border: 1px solid rgba(143, 149, 158, 0.1);
  }
  .select-item.active {
    border: 1px solid #0092FF;
  }
}
