@charset "UTF-8";
.demand-forecast {
  height: 100%;
  background-color: #0D1016;
  padding: 0 0 14px 0;
}

.demand-forecast_header {
  padding: 0 17px;
  height: 64px;
  background: #212029;
  border-radius: 10px;
  backdrop-filter: blur(25px);
  display: flex;
  align-items: center;
}

.demand-forecast_header_btn {
  width: 65px;
  height: 32px;
  color: #fff;
  background: #0092FF !important;
  border-radius: 3px;
  border: none;
  margin-left: 4px;
}

.demand-forecast_header_btn:focus, .demand-forecast_header_btn:hover {
  color: #fff;
  border-color: #0092FF;
}

.demand-forecast_content {
  margin-top: 16px;
  height: calc(100% - 80px);
  overflow: scroll;
  display: flex;
  justify-content: space-between;
}

.demand-forecast_content::-webkit-scrollbar {
  display: none;
}

.demand-forecast_content_left {
  width: 49.5%;
  height: auto;
  flex-shrink: 0;
  margin-right: 16px;
  background: #212029;
  border-radius: 10px;
  backdrop-filter: blur(25px);
  overflow-y: scroll;
}

.demand-forecast_content_left::-webkit-scrollbar {
  display: none;
}

.demand-forecast_content_left.is-rendered {
  height: fit-content;
}

.left-query-btn {
  color: #fff;
  background: #0092FF;
  border-radius: 3px;
  border: none;
}

.left-query-btn:focus, .left-query-btn:hover {
  color: #fff;
  border-color: #0092FF !important;
  background: #0092FF;
}

.demand-forecast_content_left_header {
  height: auto;
  padding: 16px;
}

.demand-forecast_content_right {
  width: 49.5%;
  flex-shrink: 1;
  height: auto;
  height: auto;
  background: #212029;
  border-radius: 10px;
  backdrop-filter: blur(25px);
  overflow-y: scroll;
}

.demand-forecast_content_right::-webkit-scrollbar {
  display: none;
}

.demand-forecast_content_right_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.demand-forecast-dots {
  display: inline-block;
  width: 6px;
  height: 24px;
  background: #0092FF;
  border-radius: 5px;
}

.demand-forecast-title {
  font-family: PingFangSC, PingFang SC;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  font-style: normal;
  margin-left: 8px;
}

.expand-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url(./assets/expand-icon.png);
  background-size: contain;
  cursor: pointer;
}

.demand-forecast-right-top {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-img {
  width: 60px;
  height: 45px;
  background-image: url(./assets/right-img.png);
  background-size: contain;
}

.right-text {
  margin-top: 13px;
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}

.demand-forecast-right-center {
  margin: 0 auto;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.special-right-text-wrap {
  right: -1%;
  top: 2%;
}

.left-text,
.other-right-text {
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  margin-bottom: 5px;
}

.left-text:last-child {
  margin-bottom: 0;
}

.other-right-text:last-child {
  margin-bottom: 0;
}

.center-img-top {
  width: 60px;
  height: 32px;
  margin-top: 30px;
  background-image: url(./assets/arrow.gif);
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(88deg);
}

.center-img-top.overturn {
  transform: rotate(270deg);
}

.center-img-top.completed {
  background: #0092FF;
  height: 2px;
  transform: rotate(270deg);
  margin-top: 37px;
}

.model-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 34px;
}

.modal-img {
  width: 52px;
  height: 61px;
  background-image: url(./assets/modal-img.png);
  background-size: contain;
}

.model-text {
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}

.demand-forecast-right-bottom-0 {
  height: 80px;
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.demand-forecast-right-bottom-1 {
  height: 80px;
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.demand-forecast-right-bottom-1 .bottom-gif-1 {
  width: 120px;
  height: 60px;
  background-image: url(./assets/arrow.gif);
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(90deg) scale(0.6);
  position: relative;
  left: 0;
}

.demand-forecast-right-bottom-1 .bottom-gif-1.overturn {
  transform: rotate(270deg) scale(0.6);
}

.demand-forecast-right-bottom-1 .bottom-gif-1.completed {
  background: #0092FF;
  height: 2px;
  transform: rotate(90deg);
}

.demand-forecast-right-bottom-2 {
  height: 80px;
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.demand-forecast-right-bottom-2 .bottom-gif-1 {
  width: 120px;
  height: 60px;
  background-image: url(./assets/arrow.gif);
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(132deg) scale(0.6);
  position: relative;
  left: 0;
}

.demand-forecast-right-bottom-2 .bottom-gif-1.overturn {
  transform: rotate(312deg) scale(0.6);
}

.demand-forecast-right-bottom-2 .bottom-gif-1.completed {
  background: #0092FF;
  height: 2px;
  transform: rotate(132deg);
  top: -3px;
}

.demand-forecast-right-bottom-2 .bottom-gif-2 {
  width: 120px;
  height: 60px;
  background-image: url(./assets/arrow.gif);
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(49deg) scale(0.6);
  position: relative;
  left: 0;
  top: -5px;
}

.demand-forecast-right-bottom-2 .bottom-gif-2.overturn {
  transform: rotate(229deg) scale(0.6);
  top: 0;
}

.demand-forecast-right-bottom-2 .bottom-gif-2.completed {
  background: #0092FF;
  height: 2px;
  transform: rotate(49deg);
}

.demand-forecast-right-bottom-3,
.demand-forecast-right-bottom-4,
.demand-forecast-right-bottom-5,
.demand-forecast-right-bottom-6,
.demand-forecast-right-bottom-7,
.demand-forecast-right-bottom-8,
.demand-forecast-right-bottom-9,
.demand-forecast-right-bottom-10 {
  height: 80px;
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.demand-forecast-right-bottom-3 .bottom-gif-1,
.demand-forecast-right-bottom-4 .bottom-gif-1,
.demand-forecast-right-bottom-5 .bottom-gif-1,
.demand-forecast-right-bottom-6 .bottom-gif-1,
.demand-forecast-right-bottom-7 .bottom-gif-1,
.demand-forecast-right-bottom-8 .bottom-gif-1,
.demand-forecast-right-bottom-9 .bottom-gif-1,
.demand-forecast-right-bottom-10 .bottom-gif-1 {
  width: 120px;
  height: 60px;
  background-image: url(./assets/arrow.gif);
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(125deg) scale(0.6);
  position: relative;
  left: 0;
  top: 0;
}

.demand-forecast-right-bottom-3 .bottom-gif-1.overturn,
.demand-forecast-right-bottom-4 .bottom-gif-1.overturn,
.demand-forecast-right-bottom-5 .bottom-gif-1.overturn,
.demand-forecast-right-bottom-6 .bottom-gif-1.overturn,
.demand-forecast-right-bottom-7 .bottom-gif-1.overturn,
.demand-forecast-right-bottom-8 .bottom-gif-1.overturn,
.demand-forecast-right-bottom-9 .bottom-gif-1.overturn,
.demand-forecast-right-bottom-10 .bottom-gif-1.overturn {
  transform: rotate(305deg) scale(0.6);
}

.demand-forecast-right-bottom-3 .bottom-gif-1.completed,
.demand-forecast-right-bottom-4 .bottom-gif-1.completed,
.demand-forecast-right-bottom-5 .bottom-gif-1.completed,
.demand-forecast-right-bottom-6 .bottom-gif-1.completed,
.demand-forecast-right-bottom-7 .bottom-gif-1.completed,
.demand-forecast-right-bottom-8 .bottom-gif-1.completed,
.demand-forecast-right-bottom-9 .bottom-gif-1.completed,
.demand-forecast-right-bottom-10 .bottom-gif-1.completed {
  background: #0092FF;
  height: 2px;
  transform: rotate(132deg);
}

.demand-forecast-right-bottom-3 .bottom-gif-2,
.demand-forecast-right-bottom-4 .bottom-gif-2,
.demand-forecast-right-bottom-5 .bottom-gif-2,
.demand-forecast-right-bottom-6 .bottom-gif-2,
.demand-forecast-right-bottom-7 .bottom-gif-2,
.demand-forecast-right-bottom-8 .bottom-gif-2,
.demand-forecast-right-bottom-9 .bottom-gif-2,
.demand-forecast-right-bottom-10 .bottom-gif-2 {
  width: 106px;
  height: 60px;
  background-image: url(./assets/arrow.gif);
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(90deg) scale(0.6);
  position: relative;
  left: 0;
  top: -5px;
}

.demand-forecast-right-bottom-3 .bottom-gif-2.overturn,
.demand-forecast-right-bottom-4 .bottom-gif-2.overturn,
.demand-forecast-right-bottom-5 .bottom-gif-2.overturn,
.demand-forecast-right-bottom-6 .bottom-gif-2.overturn,
.demand-forecast-right-bottom-7 .bottom-gif-2.overturn,
.demand-forecast-right-bottom-8 .bottom-gif-2.overturn,
.demand-forecast-right-bottom-9 .bottom-gif-2.overturn,
.demand-forecast-right-bottom-10 .bottom-gif-2.overturn {
  transform: rotate(270deg) scale(0.6);
}

.demand-forecast-right-bottom-3 .bottom-gif-2.completed,
.demand-forecast-right-bottom-4 .bottom-gif-2.completed,
.demand-forecast-right-bottom-5 .bottom-gif-2.completed,
.demand-forecast-right-bottom-6 .bottom-gif-2.completed,
.demand-forecast-right-bottom-7 .bottom-gif-2.completed,
.demand-forecast-right-bottom-8 .bottom-gif-2.completed,
.demand-forecast-right-bottom-9 .bottom-gif-2.completed,
.demand-forecast-right-bottom-10 .bottom-gif-2.completed {
  background: #0092FF;
  height: 2px;
  transform: rotate(90deg);
}

.demand-forecast-right-bottom-3 .bottom-gif-3,
.demand-forecast-right-bottom-4 .bottom-gif-3,
.demand-forecast-right-bottom-5 .bottom-gif-3,
.demand-forecast-right-bottom-6 .bottom-gif-3,
.demand-forecast-right-bottom-7 .bottom-gif-3,
.demand-forecast-right-bottom-8 .bottom-gif-3,
.demand-forecast-right-bottom-9 .bottom-gif-3,
.demand-forecast-right-bottom-10 .bottom-gif-3 {
  width: 120px;
  height: 60px;
  background-image: url(./assets/arrow.gif);
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(49deg) scale(0.6);
  position: relative;
  left: 0;
  top: -5px;
}

.demand-forecast-right-bottom-3 .bottom-gif-3.overturn,
.demand-forecast-right-bottom-4 .bottom-gif-3.overturn,
.demand-forecast-right-bottom-5 .bottom-gif-3.overturn,
.demand-forecast-right-bottom-6 .bottom-gif-3.overturn,
.demand-forecast-right-bottom-7 .bottom-gif-3.overturn,
.demand-forecast-right-bottom-8 .bottom-gif-3.overturn,
.demand-forecast-right-bottom-9 .bottom-gif-3.overturn,
.demand-forecast-right-bottom-10 .bottom-gif-3.overturn {
  transform: rotate(229deg) scale(0.6);
}

.demand-forecast-right-bottom-3 .bottom-gif-3.completed,
.demand-forecast-right-bottom-4 .bottom-gif-3.completed,
.demand-forecast-right-bottom-5 .bottom-gif-3.completed,
.demand-forecast-right-bottom-6 .bottom-gif-3.completed,
.demand-forecast-right-bottom-7 .bottom-gif-3.completed,
.demand-forecast-right-bottom-8 .bottom-gif-3.completed,
.demand-forecast-right-bottom-9 .bottom-gif-3.completed,
.demand-forecast-right-bottom-10 .bottom-gif-3.completed {
  background: #0092FF;
  height: 2px;
  transform: rotate(49deg) scale(1);
}

.arrow-bottom {
  width: 406px;
  height: 97px;
  background-image: url(./assets/arrow-up.png);
  background-size: contain;
}

.dots-1 {
  width: auto;
  height: auto;
  background: #312D36;
  border-radius: 8px;
  backdrop-filter: blur(18px);
  margin-right: 43px;
}

.dots-1:last-child {
  margin-right: 0;
}

.dots-1-header {
  width: 100%;
  height: 33px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(18px);
  padding: 8px 18px;
  display: flex;
  align-items: center;
  border-radius: 8px 8px 0 0;
}

.round {
  width: 10px;
  height: 10px;
  background: #D8D8D8;
  border-radius: 10px;
  flex-shrink: 0;
}

.round.online-status {
  background: #0092FF;
}

.dots-1-header-text {
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  margin-left: 9px;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dots1-content {
  padding: 9px 12px 11px 12px;
}

.dots1-text {
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 10px;
  color: #D1D2D6;
  line-height: 12px;
}

.strategy-title-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 17px;
}

.strategy-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
  margin-right: 36px;
}

.strategy-wrap-title {
  font-family: PingFangSC, PingFang SC;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.strategy-wrap-title.active {
  color: #0092FF;
}

.strategy-wrap-title {
  color: #fff;
}

.line {
  width: 40px;
  height: 4px;
  background: #0092FF;
  border-radius: 4px;
  margin-top: 4px;
}

.table-wrap {
  margin-top: 0 !important;
  padding: 0 22px;
}

.odd-rows {
  height: 45px;
  background: #312D36;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}

.select-1 .select-title,
.select-2 .select-title,
.select-3 .select-title {
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}

.demand-forecast_content_left_content .chart-wrap {
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.demand-forecast_content_left_content .chart-wrap .chart-icon {
  display: inline-block;
  width: 6px;
  height: 14px;
  background: #0092FF;
  border-radius: 5px;
  margin-right: 3px;
}

.demand-forecast_content_left_content .chart-wrap .chart-title {
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}

.ant-tooltip-inner {
  padding: 9px 8px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: #312D36;
}

.demand-forecast_content_right_content {
  position: relative;
}

.demand-forecast_content_right_content .vertical-dashed-line-1 {
  position: absolute;
  width: 1px;
  /* 虚线的宽度 */
  height: 183px;
  /* 虚线的高度 */
  border-left: 1px dashed #0092FF;
  /* 左边框为虚线，颜色和宽度根据需要调整 */
  top: 110px;
  left: 33px;
}

.demand-forecast_content_right_content .vertical-dashed-line-2 {
  position: absolute;
  width: 1px;
  /* 虚线的宽度 */
  height: 290px;
  /* 虚线的高度 */
  border-left: 1px dashed #0092FF;
  /* 左边框为虚线，颜色和宽度根据需要调整 */
  top: 300px;
  left: 33px;
}

.demand-forecast_content_right_content .right-top-wrapper {
  width: 100%;
  display: flex;
  margin-top: 10px;
}

.demand-forecast_content_right_content .right-top-wrapper .right-top-wrapper-left {
  width: 50%;
  padding-left: 22px;
}

.demand-forecast_content_right_content .right-top-wrapper .right-top-wrapper-left .left-img {
  width: 59px;
  height: 45px;
  background-image: url(./assets/right-img.png);
}

.demand-forecast_content_right_content .right-top-wrapper .right-top-wrapper-left .left-img-text {
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 20px;
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 14px;
  margin-top: 13px;
}

.demand-forecast_content_right_content .right-top-wrapper .right-top-wrapper-left .right-top-title-wrapper {
  margin-top: 17px;
  display: flex;
  align-items: center;
}

.demand-forecast_content_right_content .right-top-wrapper .right-top-wrapper-left .right-top-title-wrapper .right-top-title-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(./assets/icon-1.png);
  margin-right: 9px;
  background-size: contain;
  position: relative;
  z-index: 99;
}

.demand-forecast_content_right_content .right-top-wrapper .right-top-wrapper-left .right-top-title-wrapper .right-top-title {
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

.demand-forecast_content_right_content .right-top-wrapper .right-top-wrapper-left .left-text-wrap {
  margin-top: 12px;
  margin-left: 30px;
  position: static;
  width: 235px;
  height: auto;
  background: rgba(0, 146, 255, 0.2);
  border-radius: 13px;
  border: 1px dashed #0092FF;
  padding: 10px 15px 10px 12px;
}

.demand-forecast_content_right_content .right-top-wrapper .right-top-wrapper-right {
  width: 50%;
  padding-left: 50px;
}

.demand-forecast_content_right_content .right-top-wrapper .right-top-wrapper-right .right-img {
  width: 52px;
  height: 61px;
  background-image: url(./assets/modal-img.png);
}

.demand-forecast_content_right_content .right-top-wrapper .right-top-wrapper-right .right-img-text {
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 20px;
  margin-top: 7px;
}

.demand-forecast_content_right_content .right-top-wrapper .right-top-wrapper-right .right-top-title-wrapper {
  margin-top: 14px;
  display: flex;
  align-items: center;
}

.demand-forecast_content_right_content .right-top-wrapper .right-top-wrapper-right .right-top-title-wrapper .right-top-title-icon-01 {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(./assets/icon-4.png);
  background-size: contain;
  margin-right: 9px;
}

.demand-forecast_content_right_content .right-top-wrapper .right-top-wrapper-right .right-top-title-wrapper .right-top-title {
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

.demand-forecast_content_right_content .right-top-wrapper .right-top-wrapper-right .right-text-wrap {
  margin-top: 12px;
  position: static;
  width: 200px;
  background: rgba(0, 146, 255, 0.2);
  border-radius: 13px;
  border: 1px dashed #0092FF;
  padding: 10px 15px 10px 12px;
}

.demand-forecast_content_right_content .right-center-wrapper {
  margin-top: 38px;
}

.demand-forecast_content_right_content .right-center-wrapper .right-center-title-wrapper {
  padding-left: 22px;
  display: flex;
  align-items: center;
}

.demand-forecast_content_right_content .right-center-wrapper .right-center-title-wrapper .right-center-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(./assets/icon-2.png);
  margin-right: 8px;
  position: relative;
  z-index: 99;
}

.demand-forecast_content_right_content .right-center-wrapper .right-center-title-wrapper .right-center-title {
  font-family: PingFangSC, PingFang SC;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}

.demand-forecast_content_right_content .right-center-wrapper .dots-wrapper {
  display: flex;
  margin: 15px 0 0 52px;
  border-radius: 13px;
  border: 1px dashed #0092FF;
  padding: 24px 22px 21px 22px;
  justify-content: space-between;
  width: auto;
  max-width: 550px;
}

.demand-forecast_content_right_content .right-center-wrapper .dots-wrapper .dots-1 {
  width: auto;
  height: auto;
  background: #312D36;
  border-radius: 8px;
  backdrop-filter: blur(18px);
  margin-right: 0;
}

.demand-forecast_content_right_content .right-bottom-wrapper {
  margin-bottom: 20px;
}

.demand-forecast_content_right_content .right-bottom-wrapper .right-bottom-title-wrapper {
  margin-top: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  min-width: 530px;
  width: 38vw;
}

.demand-forecast_content_right_content .right-bottom-wrapper .right-bottom-title-wrapper .right-bottom-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(./assets/icon-3.png);
  margin-right: 7px;
  position: relative;
  z-index: 99px;
}

.demand-forecast_content_right_content .right-bottom-wrapper .right-bottom-title-wrapper .right-center-title {
  font-family: PingFangSC, PingFang SC;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  margin-right: 34px;
}

.demand-forecast_content_right_content .right-bottom-wrapper .right-bottom-title-wrapper .confirm-btn {
  height: 32px;
  width: 84px;
  background: #0092FF;
  border-radius: 3px;
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  border: none;
  align-self: center;
  position: relative;
  right: -37px;
  top: 10px;
}

.demand-forecast_content_right_content .right-bottom-wrapper .right-bottom-title-wrapper .confirm-btn[disabled] {
  opacity: 0.8;
}

.demand-forecast_content_right_content .right-bottom-wrapper .right-bottom-title-wrapper-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.demand-forecast_content_right_content .right-bottom-wrapper .strategy-wrap {
  margin-top: 17px;
  margin-left: 52px;
  width: 100%;
  border-radius: 13px;
  border: 1px dashed #0092FF;
  min-width: 530px;
  width: 38vw;
  padding: 13px 14px;
}

.demand-forecast_content_right_content .right-bottom-wrapper .strategy-wrap .table-wrap {
  margin-top: 13px 0 31px 0;
  padding: 17px;
}

.demand-forecast_content_right_content .right-bottom-wrapper .strategy-wrap .ant-table-thead {
  height: 48px !important;
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 12px;
  color: #8F959E;
}

.demand-forecast_content_right_content .right-bottom-wrapper .strategy-wrap .ant-table-thead .ant-table-cell {
  padding: 0;
}

.demand-forecast_content_right_content .right-bottom-wrapper .strategy-wrap .ant-table-row {
  height: 39px;
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
}

.demand-forecast_content_right_content .right-bottom-wrapper .strategy-wrap .ant-table-row .ant-table-cell {
  padding: 0;
  border-bottom: none !important;
}

.demand-forecast_content_right_content .right-bottom-wrapper .strategy-wrap .ant-table-row:nth-child(2n) {
  background: #312D36;
}

.edit-btn {
  margin-right: 8px;
}
