.view-modal {
  width: 360px !important;
}

.view-modal .ant-modal-body {
  padding: 20px 24px 10px 24px;
}

.view-modal .ant-modal-title {
  font-family: PingFangSC, PingFang SC;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}

.view-modal .view-modal-item {
  margin-bottom: 14px;
  color: #fff;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.view-modal .view-modal-item .right-arrow {
  display: inline-block;
  width: 12px;
  height: 5px;
  background-image: url(../../assets/arrow.png);
  background-size: cover;
  margin: 0 6px;
}

.view-modal .view-modal-item .dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  margin: 0 10px 0 0;
}

.view-modal .view-modal-item .dot.charge {
  background: #32D64B;
  padding: 0;
}

.view-modal .view-modal-item .dot.discharge {
  background: #214469;
}

.view-modal .view-modal-item .dot.standby {
  background: #FF9500;
}
