.main-strategy{
    width:calc(100% - 68px);
    background: rgba(42,43,64,0.1);
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.3663);
    border: 2px solid #0092FF;
    border-radius: 10px;
    margin-left: 70px;
    margin-bottom: 35px;
    .main-strategy-title{
        padding: 0 24px;
        width: 100;
        display: flex;
        align-items: center;
        height: 42px;
        font-family: PingFang SC, PingFang SC;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
        background: rgba(255,255,255,0.1);
    }

    .energy-content-wrapper{
        width: 100%;
        overflow: hidden;
        position: relative;
        z-index: 999;
        
        .energy-query-wrap{
            display: flex;
            .energy-query-time{
                margin-right: 16px;
                height: 26px;
            }
            .energy-query-btn{
                font-family: PingFang SC, PingFang SC;
                font-weight: 400;
                font-size: 12px;
                color: #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                width: 56px;
                height: 26px;
                background: #0092FF;
                border-radius: 3px 3px 3px 3px;
            }
            .energy-query-btn:hover{
                background: #0092FF;
                font-family: PingFang SC, PingFang SC;
                font-weight: 400;
                font-size: 12px;
                color: #FFFFFF;
            }

        }
        .loading-wrapper{
            padding-left: 13px;
            .loading-icon{
                display: inline-block;
                width: 60px;
                height: 42px;
                background-image: url(../../../../assets/loading.gif);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: left center;
                background-position: -10px 8px;
            }
        }
        .energy-content-wrapper-bottom{
            background: rgba(143,149,158,0.1);
            border-radius: 4px 4px 4px 4px;
            margin: 0 24px;
            padding: 20px 10px;
            opacity: 0.8;
           
            .energy-content-center{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 30px;
                .energy-content-center-left{
                    display: flex;
                    align-items: center;
                    .unit{
                        font-family: PingFangSC, PingFang SC;
                        font-weight: 400;
                        font-size: 12px;
                        color: #FFFFFF;
                        margin-right: 30px;
                    }
                    .type-wrap{
                        margin-right: 24px;
                        .type-dot-01{
                            display: inline-block;
                            width: 12px;
                            height: 12px;
                            background: #186AC3;
                            border-radius: 12px;
                            margin-right: 10px;
                        }
                        .type-dot-02{
                            display: inline-block;
                            width: 12px;
                            height: 12px;
                            background: #2C98FB;
                            border-radius: 12px;
                            margin-right: 10px;
                        }
                        .type-dot-03{
                            display: inline-block;
                            width: 12px;
                            height: 12px;
                            background: #86BAF6;
                            border-radius: 12px;
                            margin-right: 10px;
                        }
                        .type-dot-04{
                            display: inline-block;
                            width: 12px;
                            height: 12px;
                            background: #EEF0FD;
                            border-radius: 12px;
                            margin-right: 10px;
                        }
                        .text-type{
                            font-family: PingFangSC, PingFang SC;
                            font-weight: 400;
                            font-size: 14px;
                            color: #FFFFFF;
                        }
                    }
                    .type-wrap:last-child{
                        margin-right: 0;
                    }
                }
                .energy-content-center-right{
                    display: flex;
                    align-items: center;
                    .dots-text-wrap{
                        margin-left: 24px;
                        .green-dot{
                            display: inline-block;
                            width: 12px;
                            height: 12px;
                            background: #32D64B;
                            border-radius: 2px;
                            margin-right: 10px;
                        }
                        .yellow-dot{
                            display: inline-block;
                            width: 12px;
                            height: 12px;
                            background: #FF9500;
                            border-radius: 2px;
                            margin-right: 10px;
                        }
                        .grey-dot{
                            display: inline-block;
                            width: 12px;
                            height: 12px;
                            background: #214469;
                            border-radius: 2px;
                            margin-right: 10px;
                        }
                        .dot-text{
                            font-family: PingFangSC, PingFang SC;
                            font-weight: 400;
                            font-size: 14px;
                            color: #FFFFFF;
                        }
                    }
                }
              
            }
        
            .energy-content-table{
                .table-bg{
                  height: 150px;
                  margin-top: 20px;
                  position: relative;
                  .table-bg-timer{
                    display: flex;
                    justify-content: space-between;
                    padding: 0 30px 0 130px;
                    margin-bottom: 8px;
                    .table-bg-timer-item{
                        font-family: PingFangSC, PingFang SC;
                        font-weight: 400;
                        font-size: 12px;
                        color: #FFFFFF;
                        position: relative;
                    }
                  }
                  .table-bg-timer1{
                    padding: 0 8px 0 70px;
                  }
                  .table-bg-top{
                    display: flex;
                    padding: 0 46px 0 145px;
        
                    .table-bg-top-item{
                        width: 96px;
                        height: 9px;
                        border-left: 1px solid #8F959E;
                      }
                    .table-bg-top-item:last-child{
                        width: 96px;
                        height: 9px;
                        border-right: 1px solid #8F959E;
                        transform-origin: left bottom;
                        transform: scale(0.92, 1);
                    }
                  }
                  .table-bg-top1{
                    padding: 0 21px 0 85px;

                  }
                  .table-bg-bottom{
                    display: flex;
                    padding: 0 46px 0 145px;
                    height: 85px;
                    .table-bg-bottom-item{
                        width: 96px;
                        border-left:1px solid rgba(143, 149, 158, .2)
                    }
                    .table-bg-bottom-item:last-child{
                        border-right: 1px solid rgba(143, 149, 158, .2);
                        width: 96px;
                        transform-origin: left bottom;
                        transform: scale(0.92, 1);
                    }
                  }
                  .table-bg-bottom1{
                    padding: 0 21px 0 85px;
                  }
        
                  .electricity-wrap{
                    position: absolute;
                    display: flex;
                    align-items: center;
                    top: 35px;
                    padding: 0 46px 0 107px;
                    width: calc(100%);
                    .electricity-text{
                        font-family: PingFangSC, PingFang SC;
                        font-weight: 400;
                        font-size: 12px;
                        color: #FFFFFF;
                        flex-shrink: 0;
                        margin-right: 14px;
                        
                    }
                    .electricity-price{
                        display: flex;
                        flex-grow: 1;
                        .electricity-price-item{
                            height:24px;
                            flex-grow: 1;
                            width: 0.96;
                        }
                        .electricity-price-item:last-child{
                            position: relative;
                            left: -3px;
                        }
                    }
                  }
             
                }
                .energy-content-table-bottom1{
                    // top: 70px;
                    padding: 0 6px;
                    position: absolute;
                    top: 18px;
                    width: calc(100%);
                    padding-bottom: 50px;
                    .special-table-content-item-wrap{
                        margin-bottom: 16px;
                        padding: 0 14px 0 0;
                        margin-top: 16px;
                        margin-bottom: 16px;
                        .timer {
                            max-width: 70px;
                        }
                    }
                  
                }
             
            }
        }
   
    }

}

.loading-wrapper{
    height: 28px;
    width: 100%;
    .loading-icon{
        height: 28px;
        display: inline-block;
        width: 48px;
        background-image: url(../../assets/loading.gif);
        background-size: cover;
        background-position: center center;
    }
}
.table-content-item1{
    opacity: 1 !important;
}

.table-content-item1:hover{
    opacity: 0.5 !important;
}

.table-content-item1.selected{
    opacity: 0.5 !important;
}
.table-content-item1.is-active{
    opacity: 0.5 !important;
}